.--absolute {
  position: absolute;
}

.overlayMain {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__ellipse {
    top: -1000px;
    left: 50%;
    transform: translateX(-50%);
    width: 1600px;
    @include _768 {
      top: -800px;
      left: 100%;
    }
    @include _768 {
      top: -1000px;
      left: 80%;
    }
    @include _1440 {
      left: 72%;
    }
  }

  &__ray {
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    width: 432px;
    @include _768 {
      left: 81%;
    }
    @include _1024 {
      width: 534px;
      left: 84%;
    }
    @include _1440 {
      left: 50%;
      transform: translateX(13%);
    }
    @include _1920 {
      transform: translateX(30%);
    }
  }
  &__shadow {
    top: 355px;
    left: 0;
    right: 0;
    width: 539px;
    height: 277px;
    z-index: 2;
    @include _540 {
      top: 450px;
    }
    @include _768 {
      width: 605px;
      height: 230px;
      left: 50%;
      right: auto;
      transform: translateX(5%);
      top: 500px;
    }
    @include _1024 {
      top: 775px;
      transform: translateX(10%);
    }
    @include _1440 {
      top: 800px;
    }
    @include _1920 {
      top: 945px;
    }
  }

  &__character-bg {
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    width: 445px;
    animation: fadeAnimation 3s infinite;
    @include _540 {
      width: 515px;
    }
    @include _768 {
      top: 10px;
      left: 78%;
    }
    @include _1024 {
      width: 670px;
    }
    @include _1440 {
      left: 50%;
      transform: translateX(-10%);
    }
    @include _1920 {
      width: 950px;
      transform: translateX(-8%);
    }

    @keyframes fadeAnimation {
      0%,
      100% {
        opacity: 1;
      }
      50% {
        opacity: 0.5;
      }
    }
  }

  .coin-1 {
    top: 7%;
    right: -5%;
    width: 60px;
    @include _540 {
      top: 7%;
      right: 10%;
      width: 70px;
    }
    @include _768 {
      display: none;
    }
    @include _1440 {
      display: block;
      width: 110px;
      top: 11%;
      right: 5%;
    }
    @include _1920 {
      width: 126px;
      top: 8%;
      right: 8%;
    }
  }
  .coin-2 {
    width: 108px;
    top: 20%;
    right: -1%;
    z-index: 1;
    @include _540 {
      width: 125px;
      right: 12%;
    }
    @include _768 {
      width: 140px;
      top: 25%;
      right: -11%;
    }
    @include _1024 {
      width: 200px;
      top: 46%;
      right: -13%;
    }
    @include _1440 {
      width: 200px;
      top: 40%;
      right: 5%;
    }
    @include _1920 {
      width: 220px;
      top: 40%;
      right: 7%;
    }
  }

  .coin-3 {
    width: 50px;
    top: 19%;
    left: -4%;
    @include _540 {
      width: 55px;
      left: 10%;
    }
    @include _768 {
      width: 62px;
      left: 50%;
      top: 26%;
    }
    @include _1024 {
      width: 90px;
      top: 48%;
      left: 48%;
    }
    @include _1440 {
      left: 46%;
      top: 45%;
    }
    @include _1920 {
      width: 105px;
      top: 40%;
    }
  }

  .coin-4 {
    width: 22px;
    top: 9%;
    left: 7%;
    @include _540 {
      width: 25px;
      top: 10%;
      left: 18%;
    }
    @include _768 {
      width: 30px;
      left: 56%;
    }
    @include _1024 {
      width: 40px;
      top: 20%;
      left: 53%;
    }
    @include _1440 {
      top: 18%;
    }
    @include _1920 {
      width: 50px;
      top: 17%;
      left: 56%;
    }
  }

  .fs-1 {
    width: 30px;
    left: 90%;
    top: 16%;
    @include _540 {
    }
    @include _768 {
      display: none;
    }
    @include _1440 {
      display: block;
      width: 55px;
      top: 32%;
      left: 87%;
    }
  }

  .fs-2 {
    width: 20px;
    left: 20%;
    top: 6%;
    @include _540 {
      width: 22px;
      left: 23%;
      top: 5%;
    }
    @include _768 {
      width: 25px;
      left: 61%;
      top: 4%;
    }
    @include _1024 {
      width: 35px;
    }
    @include _1920 {
      width: 40px;
    }
  }
}
